.div-content {
    align-items: center;
    margin-top: 6em;
    width: 90vw;
    /* height: 100%; */
    /* background-image: url("../../../rock-paper-scissors-master/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center center; */
    justify-content: center;
    /* align-items: center; */
    /* width: 100%;
    border: 1px solid white; */
}

.background {
    background-image: url("../../../rock-paper-scissors-master/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center 66%;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

@media (min-width: 1024px) {
    .div-content {
        margin-top: 6em;
        width: 60vw;
        height: auto;
    }
}

.btn-paper, .btn-scissors, .btn-rock {
    width: 110px;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top: inset 7px rgba(255, 255, 255, 0.471);
    cursor: pointer;
}

@media (min-width: 1024px) {
    .wrap-paper, .wrap-rock, .wrap-scissors {
        width: 165px !important;
        height: 165px !important;
    }

    .btn-paper, .btn-scissors, .btn-rock {
        width: 130px;
        height: 130px;
    }

    .btn-paper img, .btn-scissors img, .btn-rock img {
    width: 45%;
    height: 55%;
    }
}


.wrap-paper {
    background: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-bottom: outset 7px hsl(230, 89%, 65%);
    cursor: pointer;
}

.wrap-scissors {
    background: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-bottom: outset 7px hsl(40, 84%, 53%);
    cursor: pointer;
}

.wrap-rock {
    background: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    width: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-bottom: outset 7px hsl(349, 70%, 56%);
    cursor: pointer;
}


.btn-paper img, .btn-scissors img, .btn-rock img {
    width: 40%;
    height: 50%;
}

.row-1 {
    gap: 4vw;
}